 body {
    background-image: url(../images/fondo-programacion1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
 }
 a{
  color: green;
  outline: none;
  text-decoration: none;

  display: inline-block;
 }

 a:hover{
   text-decoration: underline;
 }