 body {
    background-image: url(../images/fondo-programacion1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
 }