*{

}

body {
  background-color: rgb(216, 255, 255);
}
h1 {
    color: white;
    
}

img {
    float: right;
    border: 2px;
    color: black;
    border: solid;
    margin-right: 60px;
    margin-bottom: 10px;

}

ul {

}

li {

}

p {
  clear: right;
}

#header {
    text-align: center;
    background-color: rgb(0, 90, 72);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

#content{
  
}

#text {
  text-indent: 40px; 
}

#text p {
   
  width: 90%;   
  margin: 0 auto; 
  border: 5px;
  border-color: rgb(0, 0, 0);
  border-style: dashed;
  box-shadow: 3px 3px 3px grey;
  padding: 10px;
  background-color: rgb(153, 190, 190);
  margin-bottom: 10px;
}

#text p:first-child {
  border: 5px;
  background-image: url(../images/fondoParrafo.png);
  background-repeat: repeat;
  border-color: rgb(0, 0, 0);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-style: dashed;
}

#text p:last-child {
  border: 5px;
  border-color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: dashed;
}

#menu {
  list-style-type: none;
  text-align: center;
}

#menu a{
  color: green;
  outline: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.625%;
  line-height: 3;
}


#menu li{

    display: inline;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(255, 0, 0);
}

#menu li a:hover{
    text-decoration:underline;
}

#footer{
    color: white;
    text-align: center;
    background-color: rgb(0, 90, 72);
    
}

#footer a{
    color: inherit;
    text-decoration: none;
}

#footer a:hover{
    text-decoration:underline;
}
#image {

}

@media all and (max-width: 500px) {
  img {
    text-align: center;
    border: 2px;
    color: rgb(162, 0, 0);
    border: solid;
    width: 90%;
    margin-right: 0%;
  }
 
}
