body {
    background-image: url(../images/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

h1 {
    background-color: #b9730b;
    color: aliceblue;
    border-left-width: 14px;
    border-left-style: solid;
    border-left-color: white;
}

img {
    border: 2px;
    border-color: red;
    border-style: solid;
    border-radius: 40px;
    box-shadow: 15px 15px 40px;
    width: 300px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border-radius: 20%;
    border: 2px;
    border-color: black;
    border-style: solid;
}
a{
    color: rgb(28, 11, 83);
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
